In [1]:
import pandas as pd
import vertica_python
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import os

In [2]:
username = os.getenv('VERTICA_USERNAME')
password = os.getenv('VERTICA_PASSWORD')
conn_info = {'host': 'warehouse.analytics.edx.org',
             'port': 5433,
             'user': username,
             'password': password,
             'database': 'warehouse',
             'read_timeout': 600,
             'unicode_error': 'strict',
             'ssl': False}

# Queries
* * *
### Overall Completion Rate

In [6]:
#DROP TABLE IF EXISTS ahemphill.completion_rate;
#CREATE TABLE ahemphill.completion_rate AS
#	SELECT
#		a.user_id,
#		a.course_id,
#		a.current_enrollment_mode,
#		a.first_enrollment_mode,
#		a.first_enrollment_time,
#		b.catalog_course_title,
#		b.end_time AS end_time_from_d_course,
#		c.enddate AS end_time_ed_services_table,
#		d.certificate_mode,
#		d.has_passed,
#		CASE WHEN b.end_time BETWEEN '2016-04-01' AND '2016-07-01' THEN 'Q4_2016' ELSE 'Q1_2017' END AS quarter_d_course,
#		CASE WHEN c.enddate BETWEEN '2016-04-01' AND '2016-07-01' THEN 'Q4_2016' ELSE 'Q1_2017' END AS quarter_ed_services
#	FROM
#		production.d_user_course a	
#	LEFT JOIN
#		production.d_course b
#	ON
#	       a.course_id = b.course_id
#	LEFT JOIN
#	       ed_services.CourseCatalog_20161010 c
#	ON
#	       a.course_id = c.CourseID
#	LEFT JOIN
#	    production.d_user_course_certificate d
#	ON     
#	    a.user_id = d.user_id
#	    AND a.course_id = d.course_id#
#	WHERE
#		b.pacing_type = 'instructor_paced'
#		AND c.enddate BETWEEN '2016-04-01' AND '2016-10-01'
#		AND a.first_enrollment_time <= c.enddate
#		AND a.first_enrollment_time IS NOT NULL

In [58]:
from datetime import date
from dateutil.rrule import rrule, DAILY
a = date(2016, 6, 1)
b = date(2017, 2, 11)

In [66]:
master_df = pd.DataFrame()
connection = vertica_python.connect(**conn_info)

for dt in rrule(DAILY, dtstart=a, until=b):

    engagement_activity_query = """
    
    DROP TABLE IF EXISTS ahemphill.engagement_activity_loop2;
    CREATE TABLE IF NOT EXISTS ahemphill.engagement_activity_loop2 AS

    SELECT
        CAST({date} AS DATE) AS date,
        a.user_id,
        SUM(CASE WHEN b.date >= CAST({date} AS DATE) - 7 THEN 1 ELSE 0 END) AS active_7d,
        SUM(CASE WHEN b.date >= CAST({date} AS DATE) - 14 THEN 1 ELSE 0 END) AS active_14d,
        SUM(CASE WHEN b.date >= CAST({date} AS DATE) - 30 THEN 1 ELSE 0 END) AS active_30d,
        SUM(CASE WHEN b.date >= CAST({date} AS DATE) - 7 AND b.activity_type IN ('ATTEMPTED_PROBLEM', 'PLAYED_VIDEO') THEN 1 ELSE 0 END) AS engaged_7d,
        SUM(CASE WHEN b.date >= CAST({date} AS DATE) - 14 AND b.activity_type IN ('ATTEMPTED_PROBLEM', 'PLAYED_VIDEO') THEN 1 ELSE 0 END) AS engaged_14d,
        SUM(CASE WHEN b.date >= CAST({date} AS DATE) - 30 AND b.activity_type IN ('ATTEMPTED_PROBLEM', 'PLAYED_VIDEO') THEN 1 ELSE 0 END) AS engaged_30d

     FROM 
     (
        SELECT 
            a.user_id, 
            a.course_id
        FROM 
            production.d_user_course a 
        JOIN 
            production.d_course b 
        ON 
            a.course_id = b.course_id 
        AND
            first_enrollment_time <= CAST({date} AS DATE)
        AND 
            CAST({date} AS DATE) BETWEEN b.start_time AND b.end_time
        AND 
            datediff('day',first_enrollment_time, CAST({date} AS DATE)) <= 90
        LEFT JOIN 
            production.d_user_course_certificate c
        ON 
            a.user_id = c.user_id
        AND 
            a.course_id = c.course_id
        AND
            c.modified_date <= CAST({date} AS DATE)
        WHERE 
            (
            has_passed = 0 
            OR has_passed IS NULL
            )
            AND
            (
            a.last_unenrollment_time is null
            OR
            a.last_unenrollment_time >= CAST({date} AS DATE)
            )
    ) a
    LEFT JOIN 
        production.f_user_activity b
    ON 
        a.user_id = b.user_id
    AND 
        a.course_id = b.course_id
    AND b.date <= CAST({date} AS DATE)
    GROUP BY
        1,2;
    
    
    SELECT 
    {date},
    count(1) AS eligible_users,
    SUM(CASE WHEN active_7d > 0 THEN 1 ELSE 0 END) * 100.0/count(1) AS active_rate_7d,
    SUM(CASE WHEN active_14d > 0 THEN 1 ELSE 0 END) * 100.0/count(1) AS active_rate_14d,
    SUM(CASE WHEN active_30d > 0 THEN 1 ELSE 0 END) * 100.0/count(1) AS active_rate_30d,
    SUM(CASE WHEN engaged_7d > 0 THEN 1 ELSE 0 END) * 100.0/count(1) AS engagement_rate_7d,
    SUM(CASE WHEN engaged_14d > 0 THEN 1 ELSE 0 END) * 100.0/count(1) AS engagement_rate_14d,
    SUM(CASE WHEN engaged_30d > 0 THEN 1 ELSE 0 END) * 100.0/count(1) AS engagement_rate_30d

    FROM ahemphill.engagement_activity_loop2
    GROUP BY 1
    """.format(date=dt.strftime("\'%Y-%m-%d\'"))
    
    cur = connection.cursor('dict')
    cur.execute(engagement_activity_query)
    extract = cur.fetchall()
    engagement_activity_df = pd.DataFrame(extract)
    master_df = master_df.append(engagement_activity_df)
    print dt
    
connection.close()

2016-06-01 00:00:00
2016-06-02 00:00:00
2016-06-03 00:00:00
2016-06-04 00:00:00
2016-06-05 00:00:00
2016-06-06 00:00:00
2016-06-07 00:00:00
2016-06-08 00:00:00
2016-06-09 00:00:00
2016-06-10 00:00:00
2016-06-11 00:00:00
2016-06-12 00:00:00
2016-06-13 00:00:00
2016-06-14 00:00:00
2016-06-15 00:00:00
2016-06-16 00:00:00
2016-06-17 00:00:00
2016-06-18 00:00:00
2016-06-19 00:00:00
2016-06-20 00:00:00
2016-06-21 00:00:00
2016-06-22 00:00:00
2016-06-23 00:00:00
2016-06-24 00:00:00
2016-06-25 00:00:00
2016-06-26 00:00:00
2016-06-27 00:00:00
2016-06-28 00:00:00
2016-06-29 00:00:00
2016-06-30 00:00:00
2016-07-01 00:00:00
2016-07-02 00:00:00
2016-07-03 00:00:00
2016-07-04 00:00:00
2016-07-05 00:00:00
2016-07-06 00:00:00
2016-07-07 00:00:00
2016-07-08 00:00:00
2016-07-09 00:00:00
2016-07-10 00:00:00
2016-07-11 00:00:00
2016-07-12 00:00:00
2016-07-13 00:00:00
2016-07-14 00:00:00
2016-07-15 00:00:00
2016-07-16 00:00:00
2016-07-17 00:00:00
2016-07-18 00:00:00
2016-07-19 00:00:00
2016-07-20 00:00:00
2016-07-21 00:00:00
2016-07-22 00:00:00
2016-07-23 00:00:00
2016-07-24 00:00:00
2016-07-25 00:00:00
2016-07-26 00:00:00
2016-07-27 00:00:00
2016-07-28 00:00:00
2016-07-29 00:00:00
2016-07-30 00:00:00
2016-07-31 00:00:00
2016-08-01 00:00:00
2016-08-02 00:00:00
2016-08-03 00:00:00
2016-08-04 00:00:00
2016-08-05 00:00:00
2016-08-06 00:00:00
2016-08-07 00:00:00
2016-08-08 00:00:00
2016-08-09 00:00:00
2016-08-10 00:00:00
2016-08-11 00:00:00
2016-08-12 00:00:00
2016-08-13 00:00:00
2016-08-14 00:00:00
2016-08-15 00:00:00
2016-08-16 00:00:00
2016-08-17 00:00:00
2016-08-18 00:00:00
2016-08-19 00:00:00
2016-08-20 00:00:00
2016-08-21 00:00:00
2016-08-22 00:00:00
2016-08-23 00:00:00
2016-08-24 00:00:00
2016-08-25 00:00:00
2016-08-26 00:00:00
2016-08-27 00:00:00
2016-08-28 00:00:00
2016-08-29 00:00:00
2016-08-30 00:00:00
2016-08-31 00:00:00
2016-09-01 00:00:00
2016-09-02 00:00:00
2016-09-03 00:00:00
2016-09-04 00:00:00
2016-09-05 00:00:00
2016-09-06 00:00:00
2016-09-07 00:00:00
2016-09-08 00:00:00
2016-09-09 00:00:00
2016-09-10 00:00:00
2016-09-11 00:00:00
2016-09-12 00:00:00
2016-09-13 00:00:00
2016-09-14 00:00:00
2016-09-15 00:00:00
2016-09-16 00:00:00
2016-09-17 00:00:00
2016-09-18 00:00:00
2016-09-19 00:00:00
2016-09-20 00:00:00
2016-09-21 00:00:00
2016-09-22 00:00:00
2016-09-23 00:00:00
2016-09-24 00:00:00
2016-09-25 00:00:00
2016-09-26 00:00:00
2016-09-27 00:00:00
2016-09-28 00:00:00
2016-09-29 00:00:00
2016-09-30 00:00:00
2016-10-01 00:00:00
2016-10-02 00:00:00
2016-10-03 00:00:00
2016-10-04 00:00:00
2016-10-05 00:00:00
2016-10-06 00:00:00
2016-10-07 00:00:00
2016-10-08 00:00:00
2016-10-09 00:00:00
2016-10-10 00:00:00
2016-10-11 00:00:00
2016-10-12 00:00:00
2016-10-13 00:00:00
2016-10-14 00:00:00
2016-10-15 00:00:00
2016-10-16 00:00:00
2016-10-17 00:00:00
2016-10-18 00:00:00
2016-10-19 00:00:00
2016-10-20 00:00:00
2016-10-21 00:00:00
2016-10-22 00:00:00
2016-10-23 00:00:00
2016-10-24 00:00:00
2016-10-25 00:00:00
2016-10-26 00:00:00
2016-10-27 00:00:00
2016-10-28 00:00:00
2016-10-29 00:00:00
2016-10-30 00:00:00
2016-10-31 00:00:00
2016-11-01 00:00:00
2016-11-02 00:00:00
2016-11-03 00:00:00
2016-11-04 00:00:00
2016-11-05 00:00:00
2016-11-06 00:00:00
2016-11-07 00:00:00
2016-11-08 00:00:00
2016-11-09 00:00:00
2016-11-10 00:00:00
2016-11-11 00:00:00
2016-11-12 00:00:00
2016-11-13 00:00:00
2016-11-14 00:00:00
2016-11-15 00:00:00
2016-11-16 00:00:00
2016-11-17 00:00:00
2016-11-18 00:00:00
2016-11-19 00:00:00
2016-11-20 00:00:00
2016-11-21 00:00:00
2016-11-22 00:00:00
2016-11-23 00:00:00
2016-11-24 00:00:00
2016-11-25 00:00:00
2016-11-26 00:00:00
2016-11-27 00:00:00
2016-11-28 00:00:00
2016-11-29 00:00:00
2016-11-30 00:00:00
2016-12-01 00:00:00
2016-12-02 00:00:00
2016-12-03 00:00:00
2016-12-04 00:00:00
2016-12-05 00:00:00
2016-12-06 00:00:00
2016-12-07 00:00:00
2016-12-08 00:00:00
2016-12-09 00:00:00
2016-12-10 00:00:00
2016-12-11 00:00:00
2016-12-12 00:00:00
2016-12-13 00:00:00
2016-12-14 00:00:00
2016-12-15 00:00:00
2016-12-16 00:00:00
2016-12-17 00:00:00
2016-12-18 00:00:00
2016-12-19 00:00:00
2016-12-20 00:00:00
2016-12-21 00:00:00
2016-12-22 00:00:00
2016-12-23 00:00:00
2016-12-24 00:00:00
2016-12-25 00:00:00
2016-12-26 00:00:00
2016-12-27 00:00:00
2016-12-28 00:00:00
2016-12-29 00:00:00
2016-12-30 00:00:00
2016-12-31 00:00:00
2017-01-01 00:00:00
2017-01-02 00:00:00
2017-01-03 00:00:00
2017-01-04 00:00:00
2017-01-05 00:00:00
2017-01-06 00:00:00
2017-01-07 00:00:00
2017-01-08 00:00:00
2017-01-09 00:00:00
2017-01-10 00:00:00
2017-01-11 00:00:00
2017-01-12 00:00:00
2017-01-13 00:00:00
2017-01-14 00:00:00
2017-01-15 00:00:00
2017-01-16 00:00:00
2017-01-17 00:00:00
2017-01-18 00:00:00
2017-01-19 00:00:00
2017-01-20 00:00:00
2017-01-21 00:00:00
2017-01-22 00:00:00
2017-01-23 00:00:00
2017-01-24 00:00:00
2017-01-25 00:00:00
2017-01-26 00:00:00
2017-01-27 00:00:00
2017-01-28 00:00:00
2017-01-29 00:00:00
2017-01-30 00:00:00
2017-01-31 00:00:00
2017-02-01 00:00:00
2017-02-02 00:00:00
2017-02-03 00:00:00
2017-02-04 00:00:00
2017-02-05 00:00:00
2017-02-06 00:00:00
2017-02-07 00:00:00
2017-02-08 00:00:00
2017-02-09 00:00:00
2017-02-10 00:00:00
2017-02-11 00:00:00

In [67]:
print 'done'

done

In [ ]:
#engagement_activity_df

In [68]:
master_df

,?column?,active_rate_14d,active_rate_30d,active_rate_7d,eligible_users,engagement_rate_14d,engagement_rate_30d,engagement_rate_7d
0,2016-06-01,27.6091938369903366705,41.7621706938911281996,19.1176979464448167740,895861,18.0231084956259955506,27.5350751958172082499,12.2757883198397965756
0,2016-06-02,27.6228312679765518101,41.3914468667366933241,19.4613961940726515830,931074,17.9628042454198055149,27.2149152484120488812,12.5399270090239873522
0,2016-06-03,27.8193117481493322043,41.5102572466037788833,19.4900646086650350693,925882,18.0484122166755590885,27.2861984572548121683,12.5732004726304215872
0,2016-06-04,27.8180956280031890366,41.3036264517658212847,19.3324570665172703570,928180,18.0759119998276196427,27.2105626063910017454,12.5360382684393113405
0,2016-06-05,27.9503045486068178031,41.2313117900361802670,19.5747609038077983797,930065,18.1871159542612613097,27.2000344061974163096,12.7040583185046206448
0,2016-06-06,28.1227202503199124141,41.2489685067021243054,20.0996321958548918604,919783,18.3249744776757126409,27.2792604342546013571,13.0263333851571511976
0,2016-06-07,28.6547526421398759752,41.8805594507757913692,20.6535706103511896132,903529,18.6992337822028955352,27.7374605574364519567,13.3722326566164450726
0,2016-06-08,29.0865014292805669194,42.1606742438506701357,21.3144674004210814604,934736,19.0369259341675082590,27.8987863953030588316,13.8659471765289878640
0,2016-06-09,29.1433023457954822502,42.3853337432027051379,21.0046746308525636269,943390,19.1756325591748905543,28.0899733938243992410,13.7309066239837182925
0,2016-06-10,29.1633960274807644157,42.4474910543836425430,20.6348720039976630997,946553,19.2685459768232734987,28.1612334438747751050,13.4857741721805329443
0,2016-06-11,29.2283772179664850067,42.4682661814842840017,20.4707572756102330406,940952,19.3621991344935767180,28.1902796316921585798,13.4021714178831651349
0,2016-06-12,29.4429885520885276861,42.3764760803369654016,20.4603566995215006419,942530,19.5439932946431413324,28.2242475040582262634,13.4364953900671596660
0,2016-06-13,29.8263548314501781248,42.5397755499789816950,20.7199087932945237762,942036,19.8149539932656501450,28.3998700686597964409,13.5935357035187614911
0,2016-06-14,29.9145970819091623508,41.3940937538464451745,21.7405341943058409158,1056170,20.1027296742001761080,27.8759101281043771363,14.5415984169215183162
0,2016-06-15,30.6736197769086389975,42.3034224898499665465,22.2802888816305564628,1074627,20.5990543695626482491,28.4229783915721454979,14.8975411933629063852
0,2016-06-16,30.8928647224196492191,42.6108167517233344863,22.8331772481014647327,1107301,20.7946168205393113526,28.6444245963834585176,15.2700123995191912587
0,2016-06-17,31.2057533243344151182,43.0741836353714925759,23.2427877021166604440,1114208,21.0431086475774720698,29.0010482782388925587,15.5605596082598581234
0,2016-06-18,31.3654464928563644192,43.1464154974996828823,23.3560347954099215871,1119458,21.2030286084873215431,29.0988138902933383834,15.6996510811481985032
0,2016-06-19,31.5472955515364260832,43.2405270801222369722,23.5711549255619604244,1122410,21.4195347511159023886,29.2535704421735372992,15.9249293930025569979
0,2016-06-20,32.0663607748227298970,43.7080955283426608301,24.1386737497251799513,1118914,21.8759439956958264889,29.7074663468327324531,16.4017967421982386493
0,2016-06-21,32.4127365215455943910,44.3967331893057267510,23.7397063016696059144,1118767,22.1931823158888311865,30.2481213693289129908,16.0313988524867108165
0,2016-06-22,32.4203394135894208660,44.9360942476443821944,23.1882933093662874334,1133779,22.1219479281235584713,30.5134422140470056334,15.5454458055758661961
0,2016-06-23,32.3215726002156712901,45.1886947298196444424,22.5605053273632508123,1133206,22.0228272705933431344,30.6702400093186940415,15.1391715186823931395
0,2016-06-24,32.1979042150204071595,45.2316983306267242008,21.9367083827007714056,1138571,21.9386406293502996300,30.7440642700367390352,14.7288135742083717221
0,2016-06-25,32.0160240062118877724,45.0170809385839910678,21.2613427423100720572,1141038,21.8142603489103780943,30.6258862544455136463,14.3055708924680860760
0,2016-06-26,32.0940070546489856312,45.0159886676811523061,21.0883864769531770464,1140808,21.8794924299268588579,30.6803598852742968142,14.2397318391876634806
0,2016-06-27,32.2849847473273786571,45.1887545685553395773,21.2438591852885710797,1138489,22.0068880770916539378,30.8509787973357669683,14.3296948850625697745
0,2016-06-28,32.0796691975105995097,45.7876116702871471778,21.3549561002186258006,1145336,21.8034707718957581007,31.2971913918710317322,14.4071259438278374206
0,2016-06-29,31.8050945666742555089,46.3960417055380860027,21.4116615969777007862,1168382,21.5667478615726705821,31.6429044610409951540,14.3765480810214467529
0,2016-06-30,31.4303799853700236238,46.7782359400616377693,21.2227165502036033598,1167466,21.3370667753921741618,31.8787013925887349182,14.2339905401956031268
...,...,...,...,...,...,...,...,...
0,2017-01-13,29.8216304942549699070,41.1356660847815325291,22.4502748755894843803,959525,18.8428649592246163466,26.8828847606888825200,14.0229801203720590917
0,2017-01-14,30.3447411255554784238,41.2319628164893038349,22.4547457983606846126,965159,19.2611787280644950728,27.0666284000874467316,14.1014071256653048876
0,2017-01-15,30.3836695801170365274,40.2988725780296928379,22.2455929701170151626,936118,19.4069551060870531279,25.9895654180349058559,14.0999318461988766373
0,2017-01-16,31.1209001553096900856,40.4641559334924171699,22.6971119233834013036,936194,20.0027985652546373935,26.2785277410451252625,14.4695437056849328238
0,2017-01-17,32.1050712549695654464,41.4113410932062722139,23.6038477786855867367,968143,20.4689803055953511000,26.6355280160058999549,14.8624738287628996956
0,2017-01-18,32.6915840708144598506,42.3710111440839131823,23.8389630042448810233,983302,20.9004964903966431473,27.2734114239572379594,15.0563102688695843190
0,2017-01-19,32.9117346842051172550,42.8965982416981551899,23.5984821650401060848,1002217,21.1363407325958350337,27.6745455325543270569,14.9999451216652681006
0,2017-01-20,33.1214119940170420631,43.4247750660925524929,23.3947207670622420946,1003517,21.3120455358504140936,28.0564255513359514587,14.8710983471132028655
0,2017-01-21,33.1914855654283981016,43.6982320078348340847,23.0997751846697355743,1008828,21.3841209799886601086,28.2650759098676880499,14.7167802638309008077
0,2017-01-22,33.2774476590789342312,43.8867959220592552904,23.0673722233041284553,1011589,21.5209932096928693373,28.4909187426909545280,14.7652851108503552332
0,2017-01-23,33.5956320840409146558,44.3966470518541921725,23.3128628411200189566,1012840,21.8461948580229848742,28.9602503850558824691,14.9873622684728091308
0,2017-01-24,33.8041082451724181516,44.9468506597362999348,23.4428794079242248791,1028517,21.9882607676878457041,29.3049118293620815213,15.0882289743387809827
0,2017-01-25,33.8356201155023123471,45.8749721981485884329,23.5296655341406735334,1043096,22.0531954872801736369,29.9555362114321213004,15.1620752068841218833
0,2017-01-26,33.4619193842341140451,45.8003916372335758831,23.7023737919619397349,1105615,21.9783559376455637812,30.0558512682986392189,15.4217336052785101505
0,2017-01-27,33.5158505590715021132,46.3148260146445774024,23.7797985470620846563,1111128,22.0108754346933926604,30.4149476927950695149,15.4759847650315715201
0,2017-01-28,33.5306660156232597137,46.7022661478516013084,23.8082296995191129652,1122301,21.9640720270230535302,30.5821700239062426212,15.4503114583342614860
0,2017-01-29,33.6021352616512405970,46.9639470375553171993,23.9178073434248005739,1126232,22.0725392281519260685,30.8493276696098139637,15.5918141200036937327
0,2017-01-30,33.9219348170361136865,47.5565925998216717607,24.3559112262506265887,1127135,22.3951877991544934724,31.4000541195154085358,15.9528361731292169971
0,2017-01-31,33.9215199964568847159,48.4110899508392754329,24.2638735107843571460,1128950,22.4543159573054608264,32.0668763009876433854,15.9385269498206297887
0,2017-02-01,33.9029945901781403583,49.1227387598969321942,24.1611592829112233908,1130906,22.4537671565983379697,32.5449683704923309276,15.8840787828519788559
0,2017-02-02,33.6308516366429832977,49.3606191935260391363,23.5335282490384294962,1140322,22.2365261741858878457,32.6833122574150108478,15.3531195574583319448
0,2017-02-03,33.5128273091248971165,49.4024908276718329311,22.9947302707754976773,1146928,22.1332115006347390595,32.7151312026561388335,14.8895135527251928630
0,2017-02-04,33.3410465941620148771,49.2571436495163612129,22.4157759583726579637,1153857,22.0232663146299758116,32.6312532662192975386,14.5874228782249446855
0,2017-02-05,33.3951337568607113531,49.1757638618782142703,22.4058948096287652880,1156950,22.0783957820130515580,32.6231902848005531786,14.6126453174294481179
0,2017-02-06,33.0549766650033755027,48.9972771520771859185,21.7327983176011312682,1158346,21.7189855190072741651,32.4128541903714434202,13.9960771651993445827
0,2017-02-07,31.2068733920432718428,47.9035281575842511574,19.4299780030236217239,1168797,20.4461510424821418946,31.6358614883508427896,12.3844431496658530095
0,2017-02-08,29.1344305459665082782,46.6700341144458433172,16.7163322909474881209,1181904,19.0516319430342904331,30.7977636085502714264,10.5470495065589083377
0,2017-02-09,26.5615119412547271016,44.8256778732177030213,13.7269793997671660990,1203433,17.2695114725954830888,29.5254492771928308431,8.5170508038253895314
0,2017-02-10,24.5656432462265140831,43.3696615780685469446,10.7710725713903299285,1210353,15.8742119034694836961,28.5653854701892753602,6.4845545059994894052
0,2017-02-11,22.9372106813097011765,42.3315909849666395930,7.6355219819918579679,1204122,14.8640254060635051930,27.8869582982455266161,4.5001254025754865371

In [69]:
master_df.to_csv('engagement_activity_metric_draft.csv')

In [82]:
a = date(2016, 6, 1)
b = date(2017, 2, 11)

In [84]:
master_weekly_df = pd.DataFrame()
connection = vertica_python.connect(**conn_info)

for dt in rrule(DAILY, dtstart=a, until=b):

    engagement_activity_weekly_query = """
    
    DROP TABLE IF EXISTS ahemphill.engagement_activity_weekly;
    CREATE TABLE IF NOT EXISTS ahemphill.engagement_activity_weekly AS

    SELECT
        CAST({date} AS DATE) AS date,
        a.user_id,
        a.course_id,
        a.start_time,
        a.end_time,
        datediff('day', first_enrollment_time, CAST({date} AS DATE)) AS date_in_course,
        SUM(CASE WHEN 
        datediff('day', first_enrollment_time, b.date) BETWEEN 0 AND 7 THEN 1 ELSE 0 END) AS active_wk1,
        SUM(CASE WHEN 
        datediff('day', first_enrollment_time, b.date) BETWEEN 8 AND 14 THEN 1 ELSE 0 END) AS active_wk2,
        SUM(CASE WHEN 
        datediff('day', first_enrollment_time, b.date) BETWEEN 15 AND 21 THEN 1 ELSE 0 END) AS active_wk3,
        SUM(CASE WHEN 
        datediff('day', first_enrollment_time, b.date) BETWEEN 22 AND 28 THEN 1 ELSE 0 END) AS active_wk4,
        SUM(CASE WHEN 
        datediff('day', first_enrollment_time, b.date) BETWEEN 0 AND 7 AND b.activity_type IN ('ATTEMPTED_PROBLEM', 'PLAYED_VIDEO') THEN 1 ELSE 0 END) AS engaged_wk1,
        SUM(CASE WHEN 
        datediff('day', first_enrollment_time, b.date) BETWEEN 8 AND 14 AND b.activity_type IN ('ATTEMPTED_PROBLEM', 'PLAYED_VIDEO') THEN 1 ELSE 0 END) AS engaged_wk2,
        SUM(CASE WHEN 
        datediff('day', first_enrollment_time, b.date) BETWEEN 15 AND 21 AND b.activity_type IN ('ATTEMPTED_PROBLEM', 'PLAYED_VIDEO') THEN 1 ELSE 0 END) AS engaged_wk3,
        SUM(CASE WHEN 
        datediff('day', first_enrollment_time, b.date) BETWEEN 22 AND 28 AND b.activity_type IN ('ATTEMPTED_PROBLEM', 'PLAYED_VIDEO') THEN 1 ELSE 0 END) AS engaged_wk4

     FROM 
     (
        SELECT 
            a.user_id, 
            a.course_id,
            a.first_enrollment_time,
            b.start_time,
            b.end_time
        FROM 
            production.d_user_course a 
        JOIN 
            production.d_course b 
        ON 
            a.course_id = b.course_id 
        AND 
            CAST({date} AS DATE) BETWEEN b.start_time AND b.end_time
        AND 
            datediff('day',first_enrollment_time, CAST({date} AS DATE)) BETWEEN 0 and  90
        LEFT JOIN 
            production.d_user_course_certificate c
        ON 
            a.user_id = c.user_id
        AND 
            a.course_id = c.course_id
        AND
            c.modified_date <= CAST({date} AS DATE)
        WHERE 
            (
                has_passed = 0 
                OR has_passed IS NULL
            )
            AND
            (
                a.last_unenrollment_time is null
                OR
                a.last_unenrollment_time >= CAST({date} AS DATE)
            )
    ) a
    LEFT JOIN 
        production.f_user_activity b
    ON 
        a.user_id = b.user_id
    AND 
        a.course_id = b.course_id
    AND b.date <= CAST({date} AS DATE)
    GROUP BY
        1,2,3,4,5,6;
    
    
SELECT
    date,
    course_id,
    sum(case when date_in_course between 0 and 7 then 1 else 0 end) as cnt_week1,
    sum(case when date_in_course between 8 and 14 then 1 else 0 end) as cnt_week2,
    sum(case when date_in_course between 15 and 21 then 1 else 0 end) as cnt_week3,
    sum(case when date_in_course between 22 and 28 then 1 else 0 end) as cnt_week4,
    sum(case when date_in_course between 0 and 7 AND active_wk1 > 0 then 1 else 0 end) as active_week1,
    sum(case when date_in_course between 8 and 14 AND active_wk2 > 0 then 1 else 0 end) as active_week2,
    sum(case when date_in_course between 15 and 21 AND active_wk3 > 0 then 1 else 0 end) as active_week3,
    sum(case when date_in_course between 22 and 28 AND active_wk4 > 0 then 1 else 0 end) as active_week4,
    sum(case when date_in_course between 0 and 7 AND engaged_wk1 > 0 then 1 else 0 end) as active_week1,
    sum(case when date_in_course between 8 and 14 AND engaged_wk2 > 0 then 1 else 0 end) as engaged_week2,
    sum(case when date_in_course between 15 and 21 AND engaged_wk3 > 0 then 1 else 0 end) as engaged_week3,
    sum(case when date_in_course between 22 and 28 AND engaged_wk4 > 0 then 1 else 0 end) as engaged_week4,


    sum(case when date_in_course between 0 and 7 then 1 else 0 end) as cnt_week1_building,
    sum(case when date_in_course between 8 and 14 AND active_wk1 > 0 then 1 else 0 end) as cnt_week2_building,
    sum(case when date_in_course between 15 and 21 AND active_wk1 > 0 AND active_wk2 > 0 then 1 else 0 end) as cnt_week3_building,
    sum(case when date_in_course between 22 and 28 AND active_wk1 > 0 AND active_wk2 > 0 AND active_wk3 > 0 then 1 else 0 end) as cnt_week4,
    sum(case when date_in_course between 0 and 7 AND active_wk1 > 0 then 1 else 0 end) as active_week1_building,
    sum(case when date_in_course between 8 and 14 AND active_wk1 >0 AND active_wk2 > 0 then 1 else 0 end) as active_week2_building,
    sum(case when date_in_course between 15 and 21 AND active_wk1 >0 AND active_wk2 > 0  AND active_wk3 > 0 then 1 else 0 end) as active_week3_building,
    sum(case when date_in_course between 22 and 28 AND active_wk1 >0 AND active_wk2 > 0  AND active_wk3 > 0 AND active_wk4 > 0 then 1 else 0 end) as active_week4_building,
    sum(case when date_in_course between 0 and 7 AND engaged_wk1 > 0 then 1 else 0 end) as engaged_week1_building,
    sum(case when date_in_course between 8 and 14 AND engaged_wk1 > 0 AND engaged_wk2 > 0 then 1 else 0 end) as engaged_week2_building,
    sum(case when date_in_course between 15 and 21 AND engaged_wk1 > 0 AND engaged_wk2 > 0 AND engaged_wk3 > 0 then 1 else 0 end) as engaged_week3_building,
    sum(case when date_in_course between 22 and 28 AND engaged_wk1 > 0 AND engaged_wk2 > 0 AND engaged_wk3 > 0 AND engaged_wk4 > 0 then 1 else 0 end) as engaged_week4_building
FROM
    ahemphill.engagement_activity_weekly
GROUP BY 1,2;
    """.format(date=dt.strftime("\'%Y-%m-%d\'"))
    
    cur = connection.cursor('dict')
    cur.execute(engagement_activity_weekly_query)
    extract = cur.fetchall()
    engagement_activity_weekly_df = pd.DataFrame(extract)
    master_weekly_df = master_weekly_df.append(engagement_activity_weekly_df)
    print dt
    
connection.close()

2016-06-01 00:00:00
2016-06-02 00:00:00
2016-06-03 00:00:00
2016-06-04 00:00:00
2016-06-05 00:00:00
2016-06-06 00:00:00
2016-06-07 00:00:00
2016-06-08 00:00:00
2016-06-09 00:00:00
2016-06-10 00:00:00
2016-06-11 00:00:00
2016-06-12 00:00:00
2016-06-13 00:00:00
2016-06-14 00:00:00
2016-06-15 00:00:00
2016-06-16 00:00:00
2016-06-17 00:00:00
2016-06-18 00:00:00
2016-06-19 00:00:00
2016-06-20 00:00:00
2016-06-21 00:00:00
2016-06-22 00:00:00
2016-06-23 00:00:00
2016-06-24 00:00:00
2016-06-25 00:00:00
2016-06-26 00:00:00
2016-06-27 00:00:00
2016-06-28 00:00:00
2016-06-29 00:00:00
2016-06-30 00:00:00
2016-07-01 00:00:00
2016-07-02 00:00:00
2016-07-03 00:00:00
2016-07-04 00:00:00
2016-07-05 00:00:00
2016-07-06 00:00:00
2016-07-07 00:00:00
2016-07-08 00:00:00
2016-07-09 00:00:00
2016-07-10 00:00:00
2016-07-11 00:00:00
2016-07-12 00:00:00
2016-07-13 00:00:00
2016-07-14 00:00:00
2016-07-15 00:00:00
2016-07-16 00:00:00
2016-07-17 00:00:00
2016-07-18 00:00:00
2016-07-19 00:00:00
2016-07-20 00:00:00
2016-07-21 00:00:00
2016-07-22 00:00:00
2016-07-23 00:00:00
2016-07-24 00:00:00
2016-07-25 00:00:00
2016-07-26 00:00:00
2016-07-27 00:00:00
2016-07-28 00:00:00
2016-07-29 00:00:00
2016-07-30 00:00:00
2016-07-31 00:00:00
2016-08-01 00:00:00
2016-08-02 00:00:00
2016-08-03 00:00:00
2016-08-04 00:00:00
2016-08-05 00:00:00
2016-08-06 00:00:00
2016-08-07 00:00:00
2016-08-08 00:00:00
2016-08-09 00:00:00
2016-08-10 00:00:00
2016-08-11 00:00:00
2016-08-12 00:00:00
2016-08-13 00:00:00
2016-08-14 00:00:00
2016-08-15 00:00:00
2016-08-16 00:00:00
2016-08-17 00:00:00
2016-08-18 00:00:00
2016-08-19 00:00:00
2016-08-20 00:00:00
2016-08-21 00:00:00
2016-08-22 00:00:00
2016-08-23 00:00:00
2016-08-24 00:00:00
2016-08-25 00:00:00
2016-08-26 00:00:00
2016-08-27 00:00:00
2016-08-28 00:00:00
2016-08-29 00:00:00
2016-08-30 00:00:00
2016-08-31 00:00:00
2016-09-01 00:00:00
2016-09-02 00:00:00
2016-09-03 00:00:00
2016-09-04 00:00:00
2016-09-05 00:00:00
2016-09-06 00:00:00
2016-09-07 00:00:00
2016-09-08 00:00:00
2016-09-09 00:00:00
2016-09-10 00:00:00
2016-09-11 00:00:00
2016-09-12 00:00:00
2016-09-13 00:00:00
2016-09-14 00:00:00
2016-09-15 00:00:00
2016-09-16 00:00:00
2016-09-17 00:00:00
2016-09-18 00:00:00
2016-09-19 00:00:00
2016-09-20 00:00:00
2016-09-21 00:00:00
2016-09-22 00:00:00
2016-09-23 00:00:00
2016-09-24 00:00:00
2016-09-25 00:00:00
2016-09-26 00:00:00
2016-09-27 00:00:00
2016-09-28 00:00:00
2016-09-29 00:00:00
2016-09-30 00:00:00
2016-10-01 00:00:00
2016-10-02 00:00:00
2016-10-03 00:00:00
2016-10-04 00:00:00
2016-10-05 00:00:00
2016-10-06 00:00:00
2016-10-07 00:00:00
2016-10-08 00:00:00
2016-10-09 00:00:00
2016-10-10 00:00:00
2016-10-11 00:00:00
2016-10-12 00:00:00
2016-10-13 00:00:00
2016-10-14 00:00:00
2016-10-15 00:00:00
2016-10-16 00:00:00
2016-10-17 00:00:00
2016-10-18 00:00:00
2016-10-19 00:00:00
2016-10-20 00:00:00
2016-10-21 00:00:00
2016-10-22 00:00:00
2016-10-23 00:00:00
2016-10-24 00:00:00
2016-10-25 00:00:00
2016-10-26 00:00:00
2016-10-27 00:00:00
2016-10-28 00:00:00
2016-10-29 00:00:00
2016-10-30 00:00:00
2016-10-31 00:00:00
2016-11-01 00:00:00
2016-11-02 00:00:00
2016-11-03 00:00:00
2016-11-04 00:00:00
2016-11-05 00:00:00
2016-11-06 00:00:00
2016-11-07 00:00:00
2016-11-08 00:00:00
2016-11-09 00:00:00
2016-11-10 00:00:00
2016-11-11 00:00:00
2016-11-12 00:00:00
2016-11-13 00:00:00
2016-11-14 00:00:00
2016-11-15 00:00:00
2016-11-16 00:00:00
2016-11-17 00:00:00
2016-11-18 00:00:00
2016-11-19 00:00:00
2016-11-20 00:00:00
2016-11-21 00:00:00
2016-11-22 00:00:00
2016-11-23 00:00:00
2016-11-24 00:00:00
2016-11-25 00:00:00
2016-11-26 00:00:00
2016-11-27 00:00:00
2016-11-28 00:00:00
2016-11-29 00:00:00
2016-11-30 00:00:00
2016-12-01 00:00:00
2016-12-02 00:00:00
2016-12-03 00:00:00
2016-12-04 00:00:00
2016-12-05 00:00:00
2016-12-06 00:00:00
2016-12-07 00:00:00
2016-12-08 00:00:00
2016-12-09 00:00:00
2016-12-10 00:00:00
2016-12-11 00:00:00
2016-12-12 00:00:00
2016-12-13 00:00:00
2016-12-14 00:00:00
2016-12-15 00:00:00
2016-12-16 00:00:00
2016-12-17 00:00:00
2016-12-18 00:00:00
2016-12-19 00:00:00
2016-12-20 00:00:00
2016-12-21 00:00:00
2016-12-22 00:00:00
2016-12-23 00:00:00
2016-12-24 00:00:00
2016-12-25 00:00:00
2016-12-26 00:00:00
2016-12-27 00:00:00
2016-12-28 00:00:00
2016-12-29 00:00:00
2016-12-30 00:00:00
2016-12-31 00:00:00
2017-01-01 00:00:00
2017-01-02 00:00:00
2017-01-03 00:00:00
2017-01-04 00:00:00
2017-01-05 00:00:00
2017-01-06 00:00:00
2017-01-07 00:00:00
2017-01-08 00:00:00
2017-01-09 00:00:00
2017-01-10 00:00:00
2017-01-11 00:00:00
2017-01-12 00:00:00
2017-01-13 00:00:00
2017-01-14 00:00:00
2017-01-15 00:00:00
2017-01-16 00:00:00
2017-01-17 00:00:00
2017-01-18 00:00:00
2017-01-19 00:00:00
2017-01-20 00:00:00
2017-01-21 00:00:00
2017-01-22 00:00:00
2017-01-23 00:00:00
2017-01-24 00:00:00
2017-01-25 00:00:00
2017-01-26 00:00:00
2017-01-27 00:00:00
2017-01-28 00:00:00
2017-01-29 00:00:00
2017-01-30 00:00:00
2017-01-31 00:00:00
2017-02-01 00:00:00
2017-02-02 00:00:00
2017-02-03 00:00:00
2017-02-04 00:00:00
2017-02-05 00:00:00
2017-02-06 00:00:00
2017-02-07 00:00:00
2017-02-08 00:00:00
2017-02-09 00:00:00
2017-02-10 00:00:00
2017-02-11 00:00:00

In [91]:
len(master_weekly_df)#[master_weekly_df.course_id == 'course-v1:UC3Mx+IT.1.1x+3T2015']

110622

In [103]:
#master_weekly_df.dtypes
master_weekly_df['date'] = master_weekly_df['date'].astype('str') 
master_weekly_df.to_csv('engagement_activity_weekly_metric_draft.csv')

In [96]:
master_weekly_df#[master_weekly_df['date']=='2016-06-01']

,active_week1,active_week1_building,active_week2,active_week2_building,active_week3,active_week3_building,active_week4,active_week4_building,cnt_week1,cnt_week1_building,...,cnt_week4,course_id,date,engaged_week1_building,engaged_week2,engaged_week2_building,engaged_week3,engaged_week3_building,engaged_week4,engaged_week4_building
0,24,48,1,1,3,0,0,0,149,149,...,0,course-v1:SaveALifeX+PALS101x+3T2015,2016-06-01,24,0,0,2,0,0,0
1,63,98,14,11,8,4,5,2,172,172,...,8,course-v1:Microsoft+DAT202.1x+2T2016,2016-06-01,63,6,6,2,1,2,0
2,0,0,0,0,0,0,0,0,0,0,...,0,course-v1:WellesleyX+SOC101x+2T2016,2016-06-01,0,0,0,0,0,0,0
3,48,83,12,12,10,6,23,14,108,108,...,19,course-v1:IDBx+IDB5x+2016_T3,2016-06-01,48,11,10,6,2,17,5
4,112,196,16,15,4,1,10,1,296,296,...,2,course-v1:DavidsonNext+Phy_APccx+2T2015,2016-06-01,112,7,6,1,0,5,0
5,2,7,0,0,0,0,0,0,9,9,...,0,course-v1:Microsoft+CLD209.2x+2T2016,2016-06-01,2,0,0,0,0,0,0
6,2,4,0,0,0,0,1,0,4,4,...,0,course-v1:Microsoft+CLD208.2x+1T2016,2016-06-01,2,0,0,0,0,1,0
7,98,188,22,19,10,7,28,18,304,304,...,30,course-v1:Microsoft+CLD208.1x+1T2016,2016-06-01,98,14,9,6,2,10,2
8,145,259,34,29,23,15,14,5,389,389,...,8,course-v1:DelftX+AE1110x+2T2015,2016-06-01,145,18,15,12,9,3,3
9,0,0,0,0,1,0,1,0,0,0,...,0,course-v1:ASUx+DOGx002+1T2016,2016-06-01,0,0,0,0,0,1,0
10,0,0,0,0,0,0,0,0,0,0,...,0,course-v1:Microsoft+DAT202.2x+1T2016,2016-06-01,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,course-v1:ACCA+FMA-F2.x+3T2015,2016-06-01,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,course-v1:NYIF+RMPC1.6x+2T2016,2016-06-01,0,0,0,0,0,0,0
13,114,210,31,27,20,13,26,16,343,343,...,21,course-v1:MichiganX+FIN101x+1T2016,2016-06-01,114,18,16,9,8,13,6
14,38,64,9,8,20,9,16,7,165,165,...,20,course-v1:WellesleyX+SOC102+2T2016,2016-06-01,38,3,1,8,4,8,1
15,1,8,1,1,0,0,0,0,37,37,...,1,course-v1:Microsoft+DEV209.3x+1T2016,2016-06-01,1,0,0,0,0,0,0
16,0,1,0,0,0,0,0,0,1,1,...,0,course-v1:Microsoft+CLD208.3x+1T2016,2016-06-01,0,0,0,0,0,0,0
17,12,39,4,2,0,0,4,1,118,118,...,3,course-v1:HarvardX+PH525.6x+3T2106,2016-06-01,12,2,2,0,0,0,0
18,0,0,0,0,0,0,1,0,0,0,...,0,course-v1:ASUx+DOGx003+2T2016,2016-06-01,0,0,0,0,0,1,0
19,13,18,1,1,0,0,0,0,47,47,...,0,course-v1:Microsoft+DEV209.2x+1T2016,2016-06-01,13,0,0,0,0,0,0
20,44,62,19,18,26,16,26,2,85,85,...,4,course-v1:TenarisUniversityX+CNC.ETRRx_3+2T2016,2016-06-01,44,10,8,19,10,13,0
21,8,22,2,2,1,0,4,1,76,76,...,2,course-v1:IITBombayX+EE210.2x+2T2016,2016-06-01,8,0,0,0,0,3,1
22,209,400,91,83,142,85,134,80,551,551,...,136,course-v1:IDBx+IDB6.1x+2016_T2,2016-06-01,209,54,44,65,35,90,37
23,108,205,26,21,35,19,106,41,321,321,...,76,course-v1:HKPolyUx+EWA1.1x+2T2016,2016-06-01,108,15,11,19,7,65,21
24,40,90,11,11,25,9,25,10,196,196,...,26,course-v1:WellesleyX+SOC101+2T2016,2016-06-01,40,7,7,11,5,13,6
25,43,89,18,18,16,12,12,4,154,154,...,9,course-v1:GeorgetownX+PHLX101-03x+2T2016,2016-06-01,43,13,11,7,5,8,3
26,0,0,0,0,0,0,0,0,0,0,...,0,course-v1:NYIF+RMPC1.3x+2T2016,2016-06-01,0,0,0,0,0,0,0
27,46,61,4,4,3,1,2,2,104,104,...,4,course-v1:Microsoft+DEV209.1x+3T2016,2016-06-01,46,3,2,2,1,2,2
28,4,5,0,0,0,0,1,0,11,11,...,0,course-v1:Microsoft+CLD209.1x+2T2016,2016-06-01,4,0,0,0,0,1,0
29,120,231,20,17,17,7,14,2,459,459,...,5,course-v1:FullbridgeX+Career5x+1T2016,2016-06-01,120,5,1,4,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,10,17,0,0,2,2,1,0,38,38,...,1,course-v1:SmithsonianX+ED1.1x+3T2016,2017-02-11,10,0,0,2,0,1,0
476,2,4,8,8,0,0,1,1,5,5,...,2,course-v1:Wharton+CustomerCentricityx+1T2017,2017-02-11,2,6,6,0,0,0,0
477,47,108,16,14,14,4,18,6,184,184,...,12,course-v1:CaltechX+Ec1011x+1T2017,2017-02-11,47,10,7,7,2,6,2
478,112,207,71,56,43,15,18,3,367,367,...,6,course-v1:ANUx+EBM01x+1T2017,2017-02-11,112,40,28,22,3,10,0
479,28,56,5,5,3,2,1,0,95,95,...,2,course-v1:UPValenciaX+BMA101x+2T2016,2017-02-11,28,4,3,2,2,0,0
480,34,94,12,12,5,0,6,2,166,166,...,5,course-v1:GeorgetownX+GBEX-650-01x+3T2016,2017-02-11,34,5,4,0,0,1,0
481,190,331,67,44,32,4,20,0,614,614,...,0,course-v1:Delftx+CircularX+1T2017,2017-02-11,190,40,25,13,0,12,0
482,318,592,259,241,886,719,169,53,924,924,...,99,course-v1:IMF+FMAx+1T2017,2017-02-11,318,164,133,654,502,110,20
483,27,62,25,21,29,22,60,30,109,109,...,48,course-v1:MITx+8.01.3x+1T2017,2017-02-11,27,13,11,13,9,34,16
484,218,368,44,41,30,23,19,8,453,453,...,25,course-v1:MongoDBx+M101x+2T2016,2017-02-11,218,19,16,19,13,8,2
485,29,54,17,15,13,7,20,6,131,131,...,15,course-v1:Microsoft+DAT212x+1T2017,2017-02-11,29,9,7,6,3,12,3
486,349,757,104,97,77,46,58,36,1198,1198,...,70,course-v1:HarvardX+PH526x+3T2016,2017-02-11,349,61,54,43,27,32,17
487,80,136,11,10,5,1,8,1,288,288,...,6,course-v1:Microsoft+DAT211x+1T2017,2017-02-11,80,6,6,0,0,4,0
488,252,397,53,48,69,31,31,8,710,710,...,21,course-v1:UQx+Teams101x+1T2017,2017-02-11,252,17,13,32,10,18,2
489,66,82,7,7,5,3,0,0,119,119,...,3,course-v1:UTAustinX+UT.PreC.10.03x+3T2016,2017-02-11,66,3,3,5,3,0,0
490,309,480,60,55,52,32,63,21,722,722,...,64,course-v1:MichiganX+UX501x+3T2016,2017-02-11,309,35,29,23,10,33,8
491,2639,7627,966,940,604,414,472,261,9577,9577,...,539,course-v1:HarvardX+CS50+X,2017-02-11,2639,355,272,200,102,139,38
492,20,59,19,18,32,22,64,16,75,75,...,35,course-v1:JaverianaX+HacPac.1602x.09+3T2016,2017-02-11,20,9,6,14,2,27,1
493,0,0,0,0,0,0,0,0,0,0,...,0,course-v1:SorbonneX+LF001.1x+T1_2016,2017-02-11,0,0,0,0,0,0,0
494,14,28,3,1,5,0,3,0,98,98,...,0,course-v1:UPValenciaX+ISC101.5x+1T2017,2017-02-11,14,2,1,2,0,2,0
495,204,289,62,49,24,6,19,0,440,440,...,1,course-v1:UPValenciaX+ISC101.1x+1T2017,2017-02-11,204,50,36,18,1,12,0
496,245,414,71,64,58,37,61,33,693,693,...,60,course-v1:Microsoft+DAT210x+1T2017,2017-02-11,245,40,34,31,15,35,16
497,1098,1474,298,288,191,133,150,75,1853,1853,...,185,course-v1:LinuxFoundationX+LFS101x+1T2016,2017-02-11,1098,192,170,110,59,76,33
498,17,28,2,2,0,0,0,0,70,70,...,0,course-v1:EPFLx+PlasmaApplicationX+3T2016,2017-02-11,17,2,1,0,0,0,0
499,15,44,2,2,0,0,4,1,148,148,...,2,course-v1:UBCx+PSYC.3x+3T2016,2017-02-11,15,0,0,0,0,1,1
500,92,147,17,17,16,9,16,6,247,247,...,14,course-v1:RITx+GAME102x+1T2017,2017-02-11,92,7,5,5,2,9,1
501,131,220,37,36,68,45,57,19,377,377,...,42,course-v1:HarvardX+PH231x+1T2017,2017-02-11,131,23,22,44,26,34,13
502,1,2,0,0,1,1,3,1,2,2,...,2,course-v1:ACCA+FAB-F1.x+1T2017,2017-02-11,1,0,0,1,0,2,1
503,120,307,42,41,26,18,19,11,481,481,...,23,course-v1:UBCx+PSYC.1x+3T2016,2017-02-11,120,16,12,11,6,8,2
504,86,141,14,12,7,5,9,2,173,173,...,8,course-v1:Microsoft+DEV215x+1T2017,2017-02-11,86,8,6,1,0,1,0