In [1]:
import pandas as pd
import numpy as np
import vertica_python
import os
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
username = os.getenv('VERTICA_USERNAME')
password = os.getenv('VERTICA_PASSWORD')
conn_info = {'host': 'warehouse.analytics.edx.org',
             'port': 5433,
             'user': username,
             'password': password,
             'database': 'warehouse',
             'read_timeout': 600,
             'unicode_error': 'strict',
             'ssl': False}

In [4]:
query = """
SELECT
    pacing_type,
    CASE
        WHEN duc.first_verified_enrollment_time IS NULL
            THEN TRUE
        ELSE DATEDIFF('minute', duc.first_enrollment_time, duc.first_verified_enrollment_time) > 60
    END AS verified_after_enrollment,
    CASE
        WHEN duc.first_enrollment_time > (ca.course_start_date + 7) THEN 'After'
        WHEN duc.first_enrollment_time > ca.course_start_date THEN 'First Week'
        WHEN (duc.first_enrollment_time + 7) > ca.course_start_date THEN 'One Week Before'
        ELSE '> 1 Week Before'
    END AS enrolled_before_course_start,
    CASE
        WHEN c.course_partner = 'Microsoft' THEN 'Microsoft'
        ELSE 'Not Microsoft'
    END AS is_microsoft,
    CASE
        WHEN c.course_seat_price :: INT BETWEEN 0 AND 25 THEN '1) 0 < price <= 25'
        WHEN c.course_seat_price :: INT BETWEEN 26 AND 75 THEN '2) 25 < price <= 75'
        WHEN c.course_seat_price :: INT BETWEEN 76 AND 150 THEN '3) 75 < price <= 150'
        WHEN c.course_seat_price :: INT > 150 THEN '4) 150 < price'
    END AS price,
    CASE
        WHEN duc.first_verified_enrollment_time IS NULL THEN DATEDIFF('day', duc.first_enrollment_time, NOW())
        ELSE DATEDIFF('day', duc.first_enrollment_time, duc.first_verified_enrollment_time)
    END AS duration,
    duc.first_verified_enrollment_time IS NOT NULL AS verified,
    COUNT(*)
FROM
(
    SELECT DISTINCT
        user_id,
        course_id,
        first_enrollment_time,
        first_verified_enrollment_time
    FROM production.d_user_course
) AS duc
JOIN
(
    SELECT DISTINCT
        course_id,
        course_start_date
    FROM business_intelligence.course_availability
    WHERE date = NOW()::DATE
) AS ca
    ON duc.course_id = ca.course_id
JOIN 
(
    SELECT DISTINCT
        course_id,
        course_partner,
        pacing_type,
        course_seat_price,
        course_verification_end_date,
        has_verification_deadline_passed,
        is_WL
    FROM
        business_intelligence.course_master
) AS c ON c.course_id = duc.course_id
WHERE
    ca.course_start_date > '2016-01-01'::DATE
    AND duc.first_enrollment_time < c.course_verification_end_date

GROUP BY 1, 2, 3, 4, 5, 6, 7
ORDER BY 1, 5, 2, 3, 4, 6, 7

"""

In [5]:
connection = vertica_python.connect(**conn_info)

cur = connection.cursor('dict')

cur.execute(query)
extract = cur.fetchall()
df = pd.DataFrame(extract)

connection.close()

In [6]:
df.groupby(['pacing_type', ])

,pacing_type,verified_after_enrollment,enrolled_before_course_start,is_microsoft,price,duration,verified,COUNT
0,instructor_paced,False,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,0,True,17160
1,instructor_paced,False,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,1,True,64
2,instructor_paced,False,After,Not Microsoft,1) 0 < price <= 25,0,True,2318
3,instructor_paced,False,After,Not Microsoft,1) 0 < price <= 25,1,True,8
4,instructor_paced,False,First Week,Not Microsoft,1) 0 < price <= 25,0,True,4020
5,instructor_paced,False,First Week,Not Microsoft,1) 0 < price <= 25,1,True,10
6,instructor_paced,False,One Week Before,Not Microsoft,1) 0 < price <= 25,0,True,5944
7,instructor_paced,False,One Week Before,Not Microsoft,1) 0 < price <= 25,1,True,40
8,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,0,True,1222
9,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,1,True,940
10,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,2,True,452
11,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,3,False,296
12,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,3,True,298
13,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,4,False,666
14,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,4,True,292
15,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,5,False,1008
16,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,5,True,266
17,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,6,False,1934
18,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,6,True,276
19,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,7,False,862
20,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,7,True,272
21,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,8,False,796
22,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,8,True,272
23,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,9,False,128
24,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,9,True,256
25,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,10,False,158
26,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,10,True,198
27,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,11,False,292
28,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,11,True,194
29,instructor_paced,True,> 1 Week Before,Not Microsoft,1) 0 < price <= 25,12,False,382
...,...,...,...,...,...,...,...,...
25653,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,117,True,2
25654,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,120,False,118
25655,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,121,False,94
25656,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,122,False,58
25657,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,123,False,114
25658,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,124,False,110
25659,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,125,False,92
25660,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,126,False,116
25661,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,127,False,50
25662,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,142,False,688
25663,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,143,False,532
25664,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,144,False,682
25665,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,145,False,716
25666,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,146,False,618
25667,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,147,False,468
25668,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,148,False,402
25669,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,183,False,148
25670,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,184,False,138
25671,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,185,False,128
25672,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,186,False,316
25673,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,187,False,164
25674,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,188,False,96
25675,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,189,False,84
25676,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,191,False,92
25677,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,192,False,94
25678,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,193,False,168
25679,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,194,False,118
25680,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,195,False,106
25681,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,196,False,108
25682,self_paced,True,One Week Before,Not Microsoft,4) 150 < price,197,False,58