In [1]:
!sudo pip install vertica_python[namedparams]

The directory '/home/developer/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/developer/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Requirement already satisfied: vertica_python[namedparams] in /usr/local/lib/python3.5/dist-packages
Requirement already satisfied: pytz in /usr/local/lib/python3.5/dist-packages (from vertica_python[namedparams])
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.5/dist-packages (from vertica_python[namedparams])
Requirement already satisfied: python-dateutil>=1.5 in /usr/local/lib/python3.5/dist-packages (from vertica_python[namedparams])
Requirement already satisfied: future in /usr/local/lib/python3.5/dist-packages (from vertica_python[namedparams])
Requirement already satisfied: psycopg2>=2.5.1; extra == "namedparams" in /usr/local/lib/python3.5/dist-packages (from vertica_python[namedparams])

Boilerplate Connection Setup
---

In [2]:
%load_ext edx_jupyter

In [3]:
%reload_ext edx_jupyter

In [4]:
%%vertica

SELECT 'Connected'

password: ········

    ?column?
0  Connected

Set up parameters
---

In [5]:
less_recent_than = 7
more_recent_than = 31

Store queries
---

In [6]:
find_disengaged_users = """
SELECT
    CASE
        WHEN act.course_start_date >= uc.first_enrollment_time THEN act.course_start_date
        WHEN act.course_start_date < uc.first_enrollment_time THEN DATE(uc.first_enrollment_time)
    END AS content_availability_date,
    act.user_id,
    act.course_id,
    act.last_activity_date
FROM
(
    SELECT
        act.*,
        crs.course_start_date
    FROM
    (
        SELECT
            user_id,
            course_id,
            MAX(date) AS last_activity_date
        FROM
            business_intelligence.activity_engagement_user_daily
        WHERE
                is_engaged
            AND date <= :end_date
        GROUP BY 1, 2
    ) act
    JOIN
            experiment_courses as crs
        ON act.course_id = crs.course_id
    WHERE
        DATEDIFF('day', act.last_activity_date, :end_date) BETWEEN :less_recent_than AND :more_recent_than
) as act
JOIN
        production.d_user_course as uc
    ON uc.user_id = act.user_id
    AND uc.course_id = act.course_id
    AND (uc.first_verified_enrollment_time is NULL
         OR uc.first_verified_enrollment_time > :end_date)
"""
    
latest_disengaged_course = """
SELECT DISTINCT
    user_id,
    LAST_VALUE(course_id) OVER (
        PARTITION BY user_id ORDER BY last_activity_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
    ) as course_id,
    LAST_VALUE(last_activity_date) OVER (
        PARTITION BY user_id ORDER BY last_activity_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
    ) as last_activity_date
"""

Find the most recent date of user activity imported
---

In [7]:
%%vertica -> latest_activity
SELECT MAX(date) FROM production.f_user_activity

In [8]:
end_date = latest_activity['MAX'][0]

Find the courses that meet our criteria
---

In [9]:
%%vertica (end_date=end_date)
DROP TABLE IF EXISTS experiment_courses;

CREATE TEMPORARY TABLE experiment_courses
ON COMMIT PRESERVE ROWS
AS SELECT
    course_id,
    course_start_date
FROM
    business_intelligence.course_master
WHERE
        (content_language is NULL OR content_language = 'en-us')
    AND pacing_type = 'self_paced'
    AND DATEDIFF('day', :end_date, course_verification_end_date) > 7
    AND :end_date < course_end_date
    AND DATEDIFF('day', course_start_date, :end_date) > 7

Empty DataFrame
Columns: [MAX]
Index: []

In [10]:
%vertica SELECT COUNT(*) FROM experiment_courses

   COUNT
0    335

Find recently disengaged users
---

In [11]:
%%vertica (end_date=end_date, less_recent_than=less_recent_than, more_recent_than=more_recent_than)
DROP TABLE IF EXISTS recently_disengaged_users;

CREATE TEMPORARY TABLE recently_disengaged_users
ON COMMIT PRESERVE ROWS
AS {find_disengaged_users}

Empty DataFrame
Columns: [COUNT]
Index: []

In [12]:
%vertica SELECT COUNT(*) FROM recently_disengaged_users

    COUNT
0  230805

In [13]:
%%vertica
DROP TABLE IF EXISTS most_recently_disengaged_user_course;

CREATE TEMPORARY TABLE most_recently_disengaged_user_course
ON COMMIT PRESERVE ROWS
AS {latest_disengaged_course} FROM recently_disengaged_users

Empty DataFrame
Columns: [COUNT]
Index: []

In [14]:
%vertica SELECT COUNT(*) FROM most_recently_disengaged_user_course

    COUNT
0  187876

Count unique recently disengaged users in self-paced courses
---

In [15]:
%%vertica

SELECT
    COUNT(DISTINCT user_id)
FROM
    most_recently_disengaged_user_course

    COUNT
0  187876

Count users disengaged from multiple courses
---

In [16]:
%%vertica

SELECT
    disengaged_count,
    COUNT(DISTINCT user_id)
FROM
(
    SELECT
        user_id,
        COUNT(DISTINCT course_id) as disengaged_count
    FROM
        recently_disengaged_users
    GROUP BY
        1
    HAVING
        COUNT(DISTINCT course_id) > 1
) as cnt
GROUP BY
    1
ORDER BY 1

    disengaged_count  COUNT
0                  2  21292
1                  3   5082
2                  4   1649
3                  5    591
4                  6    294
5                  7    140
6                  8     73
7                  9     48
8                 10     31
9                 11     13
10                12     13
11                13      6
12                14      3
13                15      2
14                16      4
15                17      1
16                18      1
17                19      2
18                20      1
19                21      1
20                22      1
21                24      2
22                32      1

Count unique recently disengaged users by amount of activity
---

In [17]:
%%vertica

SELECT
    act.activity_count,
    COUNT(DISTINCT act.user_id)
FROM
(
    SELECT
        act.user_id,
        act.course_id,
        count(*) as activity_count
    FROM
        production.f_user_activity as act
    JOIN
            most_recently_disengaged_user_course as rdu
        ON rdu.user_id = act.user_id
        AND rdu.course_id = act.course_id
    WHERE
            activity_type != 'ACTIVE'
        AND DATEDIFF('day', date, '{end_date}') BETWEEN {less_recent_than} AND {more_recent_than}
    GROUP BY 1, 2
) act
GROUP BY
    1
ORDER BY
    1

    activity_count  COUNT
0                1  76889
1                2  45452
2                3  17090
3                4  13618
4                5   7505
5                6   6577
6                7   4032
7                8   3582
8                9   2437
9               10   2127
10              11   1468
11              12   1354
12              13    946
13              14    837
14              15    663
15              16    595
16              17    465
17              18    399
18              19    331
19              20    265
20              21    194
21              22    182
22              23    139
23              24    110
24              25    108
25              26     86
26              27     73
27              28     51
28              29     49
29              30     42
30              31     34
31              32     25
32              33     30
33              34     19
34              35     15
35              36     16
36              37     14
37              38      9
38              39     11
39              40      8
40              41      7
41              42      3
42              43      3
43              44      5
44              45      2
45              46      3
46              48      2
47              49      2
48              51      1
49              53      1

VTR for English self-paced courses that started within the last year
---

In [18]:
%%vertica

SELECT
    SUM(sum_verifications) / SUM(sum_enrolls_vtr)
FROM
    business_intelligence.course_stats_summary as stats
JOIN
        production.d_course as crs
    ON stats.course_id = crs.course_id
WHERE
        (crs.content_language is NULL OR crs.content_language = 'en-us')
    AND crs.pacing_type = 'self_paced'
    AND crs.start_time >= '2016-06-01'

               ?column?
0  0.019722636313664237

Count of unique recently disengaged users that have > 50% grade
---

In [19]:
%%vertica

SELECT
    (grd.percent_grade > 0.5),
    COUNT(DISTINCT rdu.user_id)
FROM
    most_recently_disengaged_user_course as rdu
JOIN
(
    SELECT
        course_id,
        user_id,
        MAX(percent_grade) as percent_grade
    FROM
        business_intelligence.grade_user_time
    GROUP BY
        1, 2
) as grd
    ON rdu.course_id = grd.course_id
   AND rdu.user_id = grd.user_id
GROUP BY
    1
ORDER BY
    1 DESC

  ?column?   COUNT
0     True   13620
1    False  128221

Count of recently disengaged users by country
---

In [20]:
%%vertica

SELECT
    usr.user_last_location_country_code,
    COUNT(DISTINCT rdu.user_id)
FROM
    most_recently_disengaged_user_course as rdu
JOIN
        production.d_user as usr
    ON rdu.user_id = usr.user_id
GROUP BY
    1
ORDER BY
    2 DESC

    user_last_location_country_code  COUNT
0                                US  46802
1                                IN  21160
2                           UNKNOWN   9507
3                                CA   8930
4                                GB   6768
5                                BR   5095
6                                AU   4211
7                                MX   4027
8                                DE   3947
9                                ES   3094
10                               NL   2989
11                               FR   2479
12                               CN   2415
13                               ID   2341
14                               CO   2276
15                               JP   2192
16                               PK   2171
17                               NG   2063
18                               TR   1809
19                               RU   1765
20                               IT   1743
21                               VN   1737
22                               EG   1706
23                               PL   1650
24                               SG   1596
25                               ZA   1491
26                               PH   1372
27                               PE   1340
28                               RO   1336
29                               TH   1286
..                              ...    ...
190                              TC      5
191                              MC      4
192                              TL      4
193                              AD      4
194                              GF      4
195                              GQ      3
196                              GG      3
197                              AX      3
198                              CV      3
199                              KM      3
200                              DJ      2
201                              WS      2
202                              AI      2
203                              LI      2
204                              ER      2
205                              FX      2
206                              CF      2
207                              VG      2
208                              VI      2
209                              PF      2
210                              CK      1
211                              SM      1
212                              AQ      1
213                              ST      1
214                              FM      1
215                              TM      1
216                              TV      1
217                              BQ      1
218                              KP      1
219                              MQ      1

[220 rows x 2 columns]

Find "recently disengaged" users from last month
---

In [21]:
import datetime

retrospective_end_date = datetime.date(2017, 4, 30)

In [22]:
%%vertica (end_date=retrospective_end_date)
DROP TABLE IF EXISTS experiment_courses;

CREATE TEMPORARY TABLE experiment_courses
ON COMMIT PRESERVE ROWS
AS SELECT
    course_id,
    course_start_date
FROM
    business_intelligence.course_master
WHERE
        (content_language is NULL OR content_language = 'en-us')
    AND pacing_type = 'self_paced'
    AND DATEDIFF('day', :end_date, course_verification_end_date) > 7
    AND :end_date < course_end_date
    AND DATEDIFF('day', course_start_date, :end_date) > 7

Empty DataFrame
Columns: [user_last_location_country_code, COUNT]
Index: []

In [23]:
%%vertica
SELECT COUNT(*) FROM experiment_courses;

   COUNT
0    329

In [24]:
%%vertica (end_date=retrospective_end_date, less_recent_than=less_recent_than, more_recent_than=more_recent_than)
DROP TABLE IF EXISTS baseline_recently_disengaged_users;

CREATE TEMPORARY TABLE baseline_recently_disengaged_users
ON COMMIT PRESERVE ROWS
AS {find_disengaged_users}

Empty DataFrame
Columns: [COUNT]
Index: []

In [25]:
%%vertica
DROP TABLE IF EXISTS baseline_most_recently_disengaged_user_course;

CREATE TEMPORARY TABLE baseline_most_recently_disengaged_user_course
ON COMMIT PRESERVE ROWS
AS {latest_disengaged_course} FROM baseline_recently_disengaged_users

Empty DataFrame
Columns: [COUNT]
Index: []

In [26]:
%%vertica

SELECT COUNT(DISTINCT user_id)
FROM
    baseline_most_recently_disengaged_user_course

    COUNT
0  168356

Compute the return rate of recently disengaged users from last month
---

In [27]:
%%vertica -> return_rates
SELECT
    returned_after,
    COUNT(DISTINCT user_id)
FROM
(
    SELECT
        rdu.user_id,
        DATEDIFF('day', '{retrospective_end_date}', MIN(act.date)) as returned_after
    FROM
        baseline_most_recently_disengaged_user_course as rdu
    LEFT JOIN
            production.f_user_activity as act
         ON act.user_id = rdu.user_id
        AND act.course_id = rdu.course_id
        AND act.date >= '{retrospective_end_date}'
        AND act.activity_type != 'ACTIVE'
    GROUP BY
        1
) as return
GROUP BY
    1
ORDER BY 1

In [28]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import pandas as pd
import numpy as np
init_notebook_mode(connected=True)

In [29]:
total_users = return_rates['COUNT'].sum()

In [30]:
iplot([{
    "x": return_rates['returned_after'][1:],
    "y": return_rates['COUNT'][1:].cumsum()/total_users*100
}])

Compute the bookings rate of recently disengaged users from last month
---

In [31]:
%%vertica -> verify_rates
SELECT
    verified_after,
    COUNT(DISTINCT user_id)
FROM
(
    SELECT
        rdu.user_id,
        DATEDIFF('day', '{retrospective_end_date}', MIN(crs.first_verified_enrollment_time)) as verified_after
    FROM
        baseline_most_recently_disengaged_user_course as rdu
    LEFT JOIN
            production.d_user_course as crs
        ON rdu.user_id = crs.user_id
        AND rdu.course_id = crs.course_id
    GROUP BY
        1
) as return
GROUP BY
    1
ORDER BY 1

In [32]:
verify_rates

    verified_after   COUNT
0              NaN  167693
1              0.0       3
2              1.0      25
3              2.0      15
4              3.0      18
5              4.0      23
6              5.0      27
7              6.0      20
8              7.0      15
9              8.0      34
10             9.0      32
11            10.0      27
12            11.0      16
13            12.0      29
14            13.0      10
15            14.0      26
16            15.0      18
17            16.0      20
18            17.0      20
19            18.0      19
20            19.0      14
21            20.0      15
22            21.0      11
23            22.0      16
24            23.0      21
25            24.0      15
26            25.0      16
27            26.0      12
28            27.0      12
29            28.0      18
30            29.0      18
31            30.0      35
32            31.0      18
33            32.0      19
34            33.0      12
35            34.0      14

In [33]:
total_unverified_users = verify_rates['COUNT'].sum()

In [34]:
iplot([{
    "x": verify_rates['verified_after'][1:],
    "y": verify_rates['COUNT'][1:].cumsum()/total_unverified_users*100
}])

Effective VTR for disengaged users that return to the site
---

In [35]:
iplot([{
    "x": verify_rates['verified_after'][1:],
    "y": verify_rates['COUNT'][1:].cumsum()/return_rates['COUNT'][1:].cumsum()*100
}])

Measure Time-Since-Last-Engagement for recently-disengaged users
---

In [36]:
%%vertica (end_date=retrospective_end_date) -> time_since_last_activity

SELECT
    DATEDIFF('day', last_activity_date, :end_date),
    COUNT(*)
FROM
    baseline_most_recently_disengaged_user_course
GROUP BY
    1
ORDER BY 1

In [37]:
time_since_last_activity['COUNT']

0     7779
1     7297
2     9682
3     9485
4     9059
5     8862
6     7609
7     5273
8     4852
9     5505
10    6543
11    7726
12    7683
13    6355
14    5151
15    4946
16    6260
17    7075
18    7786
19    7738
20    6080
21    4931
22    4500
23    4542
24    5637
Name: COUNT, dtype: int64

In [42]:
iplot([{
    'x': [retrospective_end_date - datetime.timedelta(days=int(t)) for t in time_since_last_activity['datediff']],
    'y': time_since_last_activity['COUNT'],
}])