Boilerplate Connection Setup
---

In [1]:
%load_ext edx_jupyter

In [2]:
%reload_ext edx_jupyter

In [3]:
%%vertica

SELECT 'Connected'

    ?column?
0  Connected

Find enrollments that are active w/in a 2 week retrospective experiment period
---

In [4]:
import datetime

start=datetime.datetime(2017, 6, 13, 11)
end=datetime.datetime(2017, 6, 14)

Cache the courses and enrollments for the experiment
---

In [5]:
%%vertica (start_date=start, end_date=end)
DROP TABLE IF EXISTS ex_courses;

CREATE LOCAL TEMPORARY TABLE ex_courses
ON COMMIT PRESERVE ROWS
AS SELECT
    cm.course_id,
    course_start_date,
    course_seat_price,
    pc.program_type
FROM
    business_intelligence.course_master AS cm
LEFT JOIN
        production.d_program_course AS pc
    ON pc.course_id = cm.course_id
WHERE
        (content_language is NULL OR content_language = 'en-us')
    AND :end_date < course_verification_end_date
    AND course_start_date < :start_date
    AND NOT is_WL

Empty DataFrame
Columns: [?column?]
Index: []

In [6]:
%vertica SELECT program_type, COUNT(*) FROM ex_courses GROUP BY 1

               program_type  COUNT
0  Professional Certificate     21
1                      None    320
2                   XSeries     87
3              MicroMasters     43

In [7]:
%%vertica (start_date=start, end_date=end)

DROP TABLE IF EXISTS ex_enrollments;

CREATE LOCAL TEMPORARY TABLE ex_enrollments
ON COMMIT PRESERVE ROWS
AS SELECT
    act.*,
    uc.first_verified_enrollment_time
FROM
(
    SELECT
        act.user_id,
        act.course_id
    FROM
        business_intelligence.activity_engagement_user_daily AS act
    JOIN
            ex_courses AS crs
        ON act.course_id = crs.course_id
    WHERE
            act.is_active
        AND act.date BETWEEN :start_date AND :end_date
    GROUP BY 1, 2
) AS act
JOIN
        production.d_user_course AS uc
    ON act.course_id = uc.course_id
    AND act.user_id = uc.user_id
    AND (
            uc.first_verified_enrollment_time > :start_date
        OR uc.first_verified_enrollment_time IS NULL
    )

Empty DataFrame
Columns: [program_type, COUNT]
Index: []

In [8]:
%vertica select count(*) from ex_enrollments

   count
0  88525

Compute the $/enrollment, VTR and sample count
---

In [9]:
%%vertica (start_date=start, end_date=end)

SELECT
    AVG(value) AS '$/enrollment',
    COUNT(verified)/COUNT(*)*100 AS 'VTR (%)',
    COUNT(verified) AS purchased,
    COUNT(*) AS '# enrollments'
FROM
(
    SELECT
        enr.user_id,
        SUM(
            CASE
                WHEN enr.first_verified_enrollment_time <= :end_date THEN crs.course_seat_price
                ELSE 0
            END
        ) AS value,
        MIN(enr.first_verified_enrollment_time) <= :end_date AS verified
    FROM
        ex_enrollments AS enr
    JOIN
            ex_courses AS crs
        ON crs.course_id = enr.course_id
    GROUP BY 1
) AS enr

   $/enrollment               VTR (%)  purchased  # enrollments
0      0.279745  3.627854128341088600       2682          73928