In [53]:
# Updated 14Aug2017
%load_ext edx_jupyter

The edx_jupyter extension is already loaded. To reload it, use:
  %reload_ext edx_jupyter

In [54]:
%reload_ext edx_jupyter

In [55]:
%vertica SELECT 'Connected to Vertica'

               ?column?
0  Connected to Vertica

In [ ]:
%vertica SET TIME ZONE to UTC;

In [62]:
days_since_completion = 14
days_before_ver_deadline = 5

## Experiment: Table of nonverified passing learners (self-paced without differentiated assessments), last 14 days, future verification date not within the next 5 days.

In [63]:
%%vertica (days_since_completion=days_since_completion,days_before_ver_deadline=days_before_ver_deadline)
-- This query will still need to exclude the list of excluded courses which are currently in csv file
DROP TABLE IF EXISTS non_verified_passing_users;
CREATE local TEMPORARY TABLE non_verified_passing_users
ON COMMIT PRESERVE ROWS AS
SELECT
    distinct
    a.user_id,
    a.course_id,
    b.current_enrollment_mode,
    a.letter_grade,
    a.passed_timestamp,
    c.course_verification_end_date,
    c.course_seat_price,
    c.pacing_type
FROM business_intelligence.course_completion_user a
JOIN production.d_user_course b
    ON a.passed_timestamp is not null
    AND a.passed_timestamp >= (CURRENT_DATE - :days_since_completion)
    AND b.current_enrollment_mode IN ('honor','audit')
    AND a.user_id = b.user_id
    AND a.course_id = b.course_id
JOIN business_intelligence.course_master c
    ON a.course_id = c.course_id
    AND c.course_verification_end_date >= (CURRENT_DATE - :days_before_ver_deadline)
    AND c.pacing_type = 'self_paced'

In [64]:
%%vertica
select count(user_id) from non_verified_passing_users

   count
0   8249

In [65]:
%%vertica
select
    pacing_type,
    count(user_id) 
from non_verified_passing_users
group by pacing_type

  pacing_type  count
0  self_paced   8249

## Historical: Table of all nonverified passing learners, since 2 weeks ago, with future verification date

In [7]:
%%vertica
DROP TABLE IF EXISTS non_verified_passing_users;
CREATE local TEMPORARY TABLE non_verified_passing_users
ON COMMIT PRESERVE ROWS AS
SELECT
    distinct
    a.user_id,
    a.course_id,
    b.current_enrollment_mode,
    a.letter_grade,
    a.passed_timestamp,
    c.course_verification_end_date,
    c.course_seat_price,
    c.pacing_type
FROM business_intelligence.course_completion_user a
JOIN production.d_user_course b
    ON a.passed_timestamp is not null
    AND a.passed_timestamp >= '2017-07-14'
    AND b.current_enrollment_mode IN ('honor','audit')
    AND a.user_id = b.user_id
    AND a.course_id = b.course_id
JOIN business_intelligence.course_master c
    ON a.course_id = c.course_id
    AND c.course_verification_end_date >= CURRENT_DATE()

Empty DataFrame
Columns: [pacing_type, count]
Index: []

In [8]:
%%vertica
select count(user_id) from non_verified_passing_users

   count
0   8274

In [9]:
%%vertica
select
    pacing_type,
    count(user_id) 
from non_verified_passing_users
group by pacing_type

        pacing_type  count
0  instructor_paced    924
1        self_paced   7350

In [10]:
%%vertica
select
course_id,
current_enrollment_mode,
course_seat_price,
count(distinct user_id)
from
non_verified_passing_users
group by 1,2,3
order by count desc

,course_id,current_enrollment_mode,course_seat_price,count
0,course-v1:Microsoft+DAT101x+3T2017,audit,99.0,433
1,course-v1:CatalystX+ILDIV1x+2T2017,audit,25.0,303
2,course-v1:Microsoft+DAT208x+3T2017,audit,99.0,249
3,course-v1:Microsoft+DEV276x+2T2017,audit,99.0,249
4,course-v1:AdelaideX+Project101x+1T2017,audit,50.0,216
5,course-v1:RITx+CYBER503x+2T2017,audit,150.0,187
6,course-v1:Microsoft+DEV210x+3T2017,audit,99.0,182
7,course-v1:UPValenciaX+PPT101x+2T2017,audit,50.0,180
8,course-v1:Microsoft+DAT206x+3T2017,audit,99.0,178
9,course-v1:Microsoft+DAT201x+3T2017,audit,99.0,156
10,course-v1:Microsoft+DAT204x+3T2017,audit,99.0,145
11,course-v1:Microsoft+DEV236x+1T2017,audit,99.0,138
12,course-v1:UBCx+Marketing1x+3T2015,audit,50.0,131
13,course-v1:W3Cx+HTML5.0x+1T2017,audit,99.0,127
14,course-v1:Microsoft+DAT229x+2T2017,audit,99.0,115
15,course-v1:Microsoft+DAT207x+3T2017,audit,99.0,106
16,course-v1:Microsoft+DEV237x+1T2017,audit,99.0,106
17,course-v1:RITx+CYBER502x+2T2017_2,audit,150.0,101
18,course-v1:LinuxFoundationX+LFS158x+2T2017,audit,99.0,100
19,course-v1:LinuxFoundationX+LFS101x+1T2017,audit,99.0,92
20,course-v1:JaverianaX+PUJ.E.1601x.3+2T2017,audit,49.0,88
21,course-v1:HKPolyUx+ANA101x+2T2017,audit,50.0,85
22,course-v1:UPValenciaX+BSP101x+1T2017,audit,40.0,83
23,course-v1:W3Cx+CSS.0x+1T2017,audit,49.0,76
24,course-v1:Microsoft+DEV211.1x+2T2017,audit,99.0,72
25,course-v1:UBCx+FBSEx+2T2017,audit,99.0,72
26,course-v1:UTAustinX+UT.7.11x+2T2017,audit,49.0,71
27,course-v1:NYIF+ETFM2016.1x+2T2016,audit,25.0,66
28,course-v1:Catalystx+IL5x+2T2017,audit,50.0,64
29,course-v1:UWashingtonX+CYB001x+1T2017,audit,79.0,62
...,...,...,...,...
411,course-v1:PennX+ROBO1x+1T2017,audit,349.0,1
412,course-v1:MichiganX+SW504x+1T2017,audit,199.0,1
413,course-v1:PekingX+20000003x+3T2016,audit,49.0,1
414,course-v1:UPValenciaX+TGV201x.2+2T2017,audit,49.0,1
415,course-v1:TsinghuaX+00690242.1x+1T2017,audit,49.0,1
416,course-v1:UTMBx+STAT101x+3T2016,audit,49.0,1
417,course-v1:LouvainX+Louv8x+1T2017,audit,50.0,1
418,course-v1:UAMx+TxEtj201x+1T2017,audit,50.0,1
419,course-v1:EPFLx+TrigoExpX+2T2017,audit,50.0,1
420,course-v1:MichiganX+LeadEd503x+1T2017,audit,199.0,1
421,course-v1:DavidsonNext+Cal_APBCx+3T2016,audit,49.0,1
422,course-v1:EPFLx+Algebre2X+1T2017,audit,49.0,1
423,course-v1:Microsoft+DAT222x+3T2017,audit,99.0,1
424,course-v1:MITx+7.QBWx_4+3T2016,audit,49.0,1
425,course-v1:Microsoft+INF216x+2T2017,audit,99.0,1
426,course-v1:UQx+ABLE201x+3T2016,audit,49.0,1
427,course-v1:Microsoft+CLD226x+2T2017,audit,99.0,1
428,course-v1:GalileoX+CET001X+3T2016,audit,200.0,1
429,course-v1:IITBombayX+CS213.3x+1T2017,audit,49.0,1
430,course-v1:UPValenciaX+S3D201x+2T2017,audit,50.0,1
431,course-v1:Microsoft+INF210x+1T2017,audit,99.0,1
432,course-v1:DelftX+TP102x+2T2017,audit,49.0,1
433,course-v1:Microsoft+CLD216x+3T2017,audit,99.0,1
434,course-v1:MichiganX+UX504x+1T2017,audit,99.0,1
435,course-v1:Microsoft+CLD220x+3T2017,audit,99.0,1
436,course-v1:UPValenciaX+TGV201x.1+2T2017,audit,49.0,1
437,course-v1:TokyoTechX+ARCH101x+3T2016,audit,69.0,1
438,course-v1:JaverianaX+EcoDig.1602x.06+2T2017,audit,49.0,1
439,course-v1:ANUx+EBM01x+1T2017,audit,149.0,1
440,course-v1:MichiganX+PUBLIB602x+2T2017,audit,49.0,1

## Historical: All non-verified passing learners, since beginning of time

In [11]:
%%vertica
DROP TABLE IF EXISTS non_verified_passing_users_all;
CREATE local TEMPORARY TABLE non_verified_passing_users_all
ON COMMIT PRESERVE ROWS AS
SELECT
    distinct a.user_id,
    a.course_id,
    a.letter_grade,
    a.passed_timestamp,
    b.current_enrollment_mode,
    c.course_verification_end_date,
    c.course_seat_price,
    c.pacing_type,
    b.first_verified_enrollment_time is NOT NULL AS eventually_verified_after_passing
    FROM business_intelligence.course_completion_user a
JOIN production.d_user_course b
    ON a.passed_timestamp is not null
    AND a.user_id = b.user_id
    AND a.course_id = b.course_id
    AND 
    (
        -- User verified after passing
        (
            b.first_verified_enrollment_time is NOT NULL
            AND b.first_verified_enrollment_time > a.passed_timestamp
        ) OR
        -- User passed, but did not verify
        b.first_verified_enrollment_time is NULL
    )
JOIN business_intelligence.course_master c
    ON a.course_id = c.course_id
    AND c.pacing_type is NOT NULL

Empty DataFrame
Columns: [course_id, current_enrollment_mode, course_seat_price, count]
Index: []

In [12]:
%%vertica -> nvpu
SELECT
    pacing_type,
    eventually_verified_after_passing,
    count(user_id)
FROM
    non_verified_passing_users_all
GROUP BY pacing_type, eventually_verified_after_passing

In [13]:
nvpu.set_index('pacing_type', 'eventually_verified_after_passing')

                  eventually_verified_after_passing   count
pacing_type
instructor_paced                              False  722711
self_paced                                    False  468432
self_paced                                     True   53451
instructor_paced                               True   20437

## Historical: All non-verified passing learners, since beginning of time, with future verification date

In [14]:
%%vertica
DROP TABLE IF EXISTS non_verified_passing_users_all_future_v_date;
CREATE local TEMPORARY TABLE non_verified_passing_users_all_future_v_date
ON COMMIT PRESERVE ROWS AS
SELECT
    distinct a.user_id,
    a.course_id,
    a.letter_grade,
    a.passed_timestamp,
    b.current_enrollment_mode,
    c.course_verification_end_date,
    c.course_seat_price,
    c.pacing_type,
    b.first_verified_enrollment_time is NOT NULL AS eventually_verified_after_passing
FROM business_intelligence.course_completion_user a
JOIN production.d_user_course b
    ON a.passed_timestamp is not null
    AND a.user_id = b.user_id
    AND a.course_id = b.course_id
    AND 
    (
        -- User verified after passing
        (
            b.first_verified_enrollment_time is NOT NULL
            AND b.first_verified_enrollment_time > a.passed_timestamp
        ) OR
        -- User passed, but did not verify
        b.first_verified_enrollment_time is NULL
    )
JOIN business_intelligence.course_master c
    ON a.course_id = c.course_id
    AND c.pacing_type is NOT NULL
    AND c.course_verification_end_date >= CURRENT_DATE()

Empty DataFrame
Columns: [pacing_type, eventually_verified_after_passing, count]
Index: []

In [15]:
%%vertica -> nvpu
SELECT
    pacing_type,
    eventually_verified_after_passing,
    count(user_id)
FROM
    non_verified_passing_users_all_future_v_date
GROUP BY pacing_type, eventually_verified_after_passing

In [16]:
nvpu.set_index('pacing_type', 'eventually_verified_after_passing')

                  eventually_verified_after_passing  count
pacing_type
instructor_paced                              False   2572
instructor_paced                               True    200
self_paced                                    False  80511
self_paced                                     True   9188